* {
  width:  100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  background-attachment: fixed;
  background: image(images/bodyimage.jpg);
  background-size: 100% 100%;
}

li {
  list-style: none;
}
